apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: llm-gateway

commonLabels:
  app.kubernetes.io/managed-by: kustomize

resources:
  - namespace.yaml
  - serviceaccount.yaml
  - configmap.yaml
  - secret.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - servicemonitor.yaml
